/* RESEt */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILS */

.page-header-1{
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.page-header-2{
    background-color: blue;
    padding: 8%;
}

.content{
    background-color: rgba(255, 0, 0, 0.404);
    border: 1px solid black;
}