/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* UTILS */

.all,
.all *{
    min-height: 50px;
    padding: 5px;
    border: 1px dashed black;
}

.container{
    max-width: 1100px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.wrapper{
    min-height: 100vh;  /* l'unita di misura "vh" va ad indicare una parte della finestra che visualizziamo sul monitor. 1vh è un centesimo di finestra, quindi 100vh è tutta la finestra. con il "min" avanti gli diciamo di prendere ALMENO tutta la finestra. se la pagina dovra scrollare con min-height non avremo problemi */
    display: flex;
    flex-direction: column;
}

.reverse{
    flex-direction: row-reverse;
}

.azure{
    background-color: rgb(42, 95, 240);
}

.pink{
    background-color: pink;
}

.grey{
    background-color: grey;
}

.dark-grey{
    background-color: rgb(36, 35, 35);
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}

.light-green{
    background-color: lightgreen;
}

/* HEADER */

.wrapper .container{
    width: 100%;
    display: flex;
    max-width: 80%;
}

.wrapper .wrapper-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .wrapper-header .container.other-BG-color{
    width: 100%;
    background-color: blue;
    max-width: 100%;

}

.wrapper .wrapper-header .container.other-BG-color .box.special{
    background-color: violet;
}

.wrapper .wrapper-header .container .box{
    background-color: yellow;
    border: 1px solid black;
    flex-grow: 1;
    align-content: center;
}

.wrapper .wrapper-header .container .box:last-child{
    text-align: end;
}

.wrapper .wrapper-header .container .box.large{
    flex-grow: 3;
    text-align: center;
}

/* MAIN */

main{
    flex-grow: 1;
}

.wrapper-main{
    display: flex;
    flex-direction: column;
}

.wrapper-main .box{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.wrapper-main .box .content{
    min-width: 30%;
}

.wrapper-main .box .content.large{
    flex-grow: 1;
}

.wrapper-main .box.grey .content.green{
    width: 100%;
}

.wrapper-main .box.black .content{
    min-width: 0;
    flex-grow: 1;
}

.wrapper-main .box.black .content.pink{
    flex-grow: 2;
}

/* FOOTER */

.wrapper-footer.black{
    display: flex;
    justify-content: center;
}

.wrapper-footer.black .container.green{
    justify-content: space-between;
}

.wrapper-footer.black .container.green .logo.pink{
    align-content: center;
}

.wrapper-footer.black .container.green .button.pink{
    align-content: center;
}